

h1{
    text-align: center;
    margin: 12px 0px;
    /* font-style: oblique; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    min-height: 86vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myInput{
    width: 400px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 8px;
    outline: none;

}
.btn{
    padding: 6px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    border: 2px solid black;
    border-radius: 10px;
    color: black;
    background-color: rgb(166, 247, 3);
    margin-bottom: 8px;

}