

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
#logo{
    /* background: url('/DanceProject/static/img/logo.png'); */
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    margin: auto 14px;

    font-size: 20px;
    margin-right: 30px;

}
#logo img{
    height: 40px;
    width: 30px;
    filter: invert(1);

    border: 2px solid white;
    border-radius: 100%;
}
#navbar{
    padding: 10px 14px;

    background-color: black;
    color: white;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* list-style: none; */

    font-family: 'Roboto Mono', monospace;
}
#navbar li{
    list-style: none;
}
#navbar li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px 35px;
}
#navbar li a:hover{
    font-size: 21px;
    color: rgb(26, 255, 0);
    font-weight: bold;
}


#introSection{
    /* background: center/cover no-repeat url('https://cdn.pixabay.com/photo/2018/02/22/23/06/ballet-3174227_960_720.jpg') ; */
    /* background: center/cover no-repeat url('https://pixabay.com/get/g6a5269174ab75d2fb89e05468ba4a933b8fb8befd657471ac1c525495eae775f22961b4455880d558362d6be4dafda08adf520ee8e537d03c40331a7c70310496820ef0368aa7e6ae2749e178121a433_1920.jpg'); */
    background: center/cover no-repeat url('https://pixabay.com/get/gfda88e134e12e96d7618f82a9ee00cc5d4a23a7da8d84f16f0248f5b0e17194bc833911a4073980a9d13a3f0608324be7db648a5636ec126893ec1ed3704c0dd4b6c4cbf17b81089893dce8cd1d8a5de_1920.jpg');

    color: white;
    font-family: 'Rubik', sans-serif;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    /* text-align: center; */
    text-align: left;

    height: 445px;
    /* background-color: red; */
}

#introSection div{
    position: relative;
    left: -460px;
    font-size: 50px;
}
#introSection .small{
    position: relative;
    left: -598px;
    font-size: 19px;
}
#introSection img{
    display: flex;
    height: 200px;
    width: 500px;
    border: 3px solid black;
}

#missionSection{
    margin: auto;
    /* width: 67%; */
    height: 300px;
}
#missionSection h2{
    text-align: center;
    padding-top: 12px;
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 25px;
    height: 210px;

    
    background-color: aliceblue;
}
.card h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.card-img{
    /* border: 2px solid black; */
    height: 130px;
    padding: 0px 15px;
    margin: 5px 10px;
}
.card-box img{
    height: 13px;
    height: inherit;
}
.card-content{
    padding: 0px 10px;
}
.card-content p{
    font-size: 19px;
}


#sponsorsSection{
    height: 200px;  
    background-color: #fffc0080;  
}
#sponsorsSection h2{
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
}
#sponsors{
    display: block;
    height: 120px;
    max-width: 1000px;
    margin: 10px 500px;
    align-items: center;
    /* left: 50px; */
}
.spImg{
    /* display: inline-block; */
    position: relative;

    height: 80px;
    margin: 25px;
}

#footer{
    height: 30px;    
    /* left: 200px; */
    font-size: 15px;
    color: white;
    background-color: black;
    padding: 5px;
}
#footer p{
    text-align: center;
}




/* 1
https://pixabay.com/get/g570b82c1014a69ba8beb494676ffceec6e16560775fdf2b61afa1b045c761a4517016f6af739359f049551650b3b1fae9154ca5ad3271d2c1d27809b99f7eb9310b3821b8d535028ee81595d76873eae_1280.png 
*/

/* 2
https://pixabay.com/get/g9c9b01d864465efdad185b3d8a758f4d8b6bf6fc96e466dc55d911cb1cbdb1352d2353a2c9609705718e1093a76de50f87ca0e8c078ce5ed41b7f514240bc367a5c5e432e74e8620ea489e3a35b1ef41_1280.png 
*/

/* 3
https://pixabay.com/get/gcc5d580df0ae9a67fb41813dff9caad1dce32b3f7d102093d8c1f6ff34efcee166f2ea5923ea58ebcebd63c6fb77a8405cfad90dfbe3eb91b186c2a298f3cef2ad5b4abc61ed68f449b0a039f2e91aef_1280.png 
*/

/* logo
https://pixabay.com/get/gb6e1954d8fdd50592da24f5dcf8f1d75c0709168b9fbad21253f87e77c5e35a49e971cbd7b7be606894d63495b2548c8483cf4d9ddce1c38e22d9c8d42017af7eae4bfedded84f0e4fbf7ee09c2fdd1b_1280.png 
*/

/* sp1
https://pixabay.com/get/gb0b2c6a5a0e6dd4d89a2aa735eff112a032e43db6887d406ba5c145511f4dda76cdf8e39065dfacca917434230461698a666dcbddf6282f37fefe6c1d7ef76895d6528ef9da935623aed69dca20bc9ab_1280.png 
*/

/* sp2
https://pixabay.com/get/g4dc9864a26bb3703e500a3299d1bb49d416c0db503c2fbb8e39ba58253e8c6b7eb069729f671ba471d487d292ac06b73be9e191e439f80fb91c6aa79577eaecbc6ae92745690cc392a20b79404b0f43b_1280.png 
*/










