doctype html 
html 
    head 
        title Harry's Dance Academy
        block scripts   
        block style
    body 
        nav#navbar.top 
            ul
                div#logo 
                  img(src="https://pixabay.com/get/gb6e1954d8fdd50592da24f5dcf8f1d75c0709168b9fbad21253f87e77c5e35a49e971cbd7b7be606894d63495b2548c8483cf4d9ddce1c38e22d9c8d42017af7eae4bfedded84f0e4fbf7ee09c2fdd1b_1280.png", alt="error") 
                  | H D A

                li #[a(href="/") Home]
                li #[a(href='/') About]
                li #[a(href='/') Services]
                li #[a(href='/') Class Info]
                li #[a(href='/contact') Contact Us]

        block content 
        footer#footer
            p All Rights Reserved. CopyRights 2022 HarryDanceAcademy.com
        